{% include 'header.html' %}

<br /><br />
<div class="links-area">
	<div class="links-box">
		{# Row 1 #}
		<div class="row-line">
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/0">0</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/a">A</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/b">B</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/c">C</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/d">D</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/e">E</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/f">F</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/g">G</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/h">H</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/i">I</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/j">J</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/k">K</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/l">L</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/m">M</a>
			</div>
		</div>
		<br />
		{# Row 2 #}
		<div class="second row-line">
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/n">N</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/o">O</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/p">P</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/q">Q</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/r">R</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/s">S</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/t">T</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/u">U</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/e">V</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/w">W</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/x">X</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/y">Y</a>
			</div>
			<div class="col-box">
				<a id="alphabetsClick" href="/comic-list/z">Z</a>
			</div>
		</div>
	</div>
</div>

<div class="table-info">
	{% for i in range(list_length) %}
	<a class="links_comic" href="/comic-page/{{comic_l[i]}}">
		<h2>{{(content_list[i])['title']}}</h2>
	</a>
	{% endfor %}
</div>
<br />

<br />
{% include 'footer.html' %}
